BasedOnStyle: LLVM
ColumnLimit: 160
Standard: Auto
UseTab: AlignWithSpaces
# These need to be in sync for tabs to be used
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
SortIncludes: true
SortUsingDeclarations: true
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
# BreakAfterReturnType: Automatic # From a newer version of clang-format
AlwaysBreakBeforeMultilineStrings: false
AlignAfterOpenBracket: Align

ReflowComments: false
DerivePointerAlignment: false
PointerAlignment: Left
InsertTrailingCommas: Wrapped
IndentCaseLabels: false
FixNamespaceComments: true
DeriveLineEnding: false

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatementsExceptForEachMacros
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeCaseColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false

BreakStringLiterals: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never
